<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<form action="#" th:action="@{/}" th:object="${user}" method="post">
    <table>
        <tr>
            <td>Login:</td>
            <td><input type="text" th:field="*{login}" /></td>
            <td th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login Error</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
    <p th:text="${error}">Test</p>
</form>
</body>
</html>