<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id = "menu" th:fragment = "menu">

  <table style="width:100%">
    <tr>
      <th class = "links"><a href = "/main">Strona główna</a></th>
      <th class = "links"><a href = "/invoices">Faktury</a></th>
      <th class = "links"><a href = "/main">Strona 3</a></th>
      <th class = "login" th:if="${sessionObject.isLogged()}">
        <strong th:text="${sessionObject.getUser().getLogin()}">Test</strong>
        <form action="/logout" method="get">
          <button>Wyloguj</button>
        </form>
      </th>
      <th class = "login" th:if="${!sessionObject.isLogged()}">
        <form action="/login" method="get">
          <button>Zaloguj</button>
        </form>
        <form action="/register" method="get">
          <button>Zarejestruj</button>
        </form>
      </th>
    </tr>
  </table>

</div>

</body>
</html>